@(loginForm: Form[Application.Login])

@import helper._

@main("Index") {
	<div class="container" >
	 
	@if( Session.getCurrentUser(ctx()) != null ){
		<h2> Welcome @Session.getCurrentUser(ctx()).email </h2>
		<a href='signout' class='btn btn-danger'> Logout </a>
	} else {
		@helper.form(routes.Application.signin()){
			@if(loginForm.hasGlobalErrors ){
				<div class="danger">
					<p> @loginForm.globalError.message </p>
				</div>
			}
			@helper.inputText( loginForm("Email" ) )
			@helper.inputPassword( loginForm("Password" ) )
			<input type="submit" value="Login" class="btn btn-info" />
		}
	}
	</div>
	

}